html,
body {
    font-size: 9px;
    margin: 0;
    padding: 0;
    text-align: start;
    letter-spacing: 1px;
    font-family: 'Oswald', sans-serif;
}

@media (min-width: 400px) {

    html,
    body {
        font-size: 12px;
    }
}

@media (min-width:500px) {

    html,
    body {
        font-size: 16px;
    }
}



/* LAYOUT */
header {
    font-size: 1rem;
    background-color: #597e99;
    padding: 0 1em;
}

header div {
    width: max-content;
}

ul li {
    font-weight: 700;
}

.container {
    width: 100%;
    /* min-width: 400px; */
    max-width: 100%;
    margin: 0 auto;
    /* padding: 0 1em; */
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
}

.nav-logo {
    display: flex;
    margin: auto 0;
    font-size: .8rem;
    align-items: center;
}

.nav-icon {
    height: 1.5rem;
    object-fit: cover;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding-left: 10px;
    cursor: pointer;
}

li:hover,
li:focus {
    text-decoration: underline;
    color: blue;
}

.intro {
    padding: 1em;
    background: #cdd2d6;
}

.intro-item,
.grid-body {
    font-size: 1.3rem;
}

.intro-date,
.grid-date {
    font-weight: 200;
}

.grid {
    /* font-size: 1rem; */
    text-align: start;
    padding: 1em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1em;
    /* grid-template-rows: repeat(auto-fit, minmax(200px, 1fr)); */
}

.grid-card {
    cursor: pointer;
    box-shadow: 0 0 1em rgba(0, 0, 0, .25);
    padding: 1em;
    background: white;
    /* max-width: 75%; */
    /* margin: 0 auto; */
}

img {
    /* max-height: 400px; */
    max-width: 100%;
}

.blog-posts {
    background-color: #cdd2d6;
}

footer {
    text-align: center;
    font-size: 1.3em;
    padding: 1em;
    display: flex;
    flex-flow: column;
    padding: .5em;
    margin-bottom: 0;
    /* display: flex; */
    background-color: #597e99;
}

footer h5,
footer p {
    margin: 0;
}

@media (min-width:800px) {
    .grid {
        grid-template-columns: repeat(3, minmax(230px, 1fr));

    }

    .container {
        width: 90%;
    }

    nav.container {
        width: 100%;
    }

    .intro-image {
        width: 100%;
        max-height: 30vh;
        object-fit: cover;
    }

    .intro-elements {
        width: 80%;
    }
}